@model ShopApp.ViewModels.ShopItemViewModel

@using (Html.BeginForm("Edit", "ShopItem", FormMethod.Post))
{
    <div class="mb-3 col-5">
        @Html.LabelFor(shopItem => shopItem.ShopItem.Name, new {@class = "form-label"})
        @Html.TextBoxFor(shopItem => shopItem.ShopItem.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(shopItem => shopItem.ShopItem.Name)
    </div>
    <div class="mb-3 col-5">
        @Html.LabelFor(shopItem => shopItem.ShopItem.Shop.Name, new {@class = "form-label"})
        <select class="form-control" name="ShopId">
            @foreach (var shop in Model.Shops)
            {
                @if (Model.ShopItem.ShopId == shop.Id)
                {
                    <option value="@shop.Id" selected>@shop.Name</option>
                }
                else
                {
                    <option value="@shop.Id">@shop.Name</option>
                }
            }
        </select>
    </div>
    <div class="mb-3 col-5">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
}